<!DOCTYPE html>
262614
<head>
    <title> Блог сайта </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>
<header th:insert="bloсks/header :: header"></header>
<div class="container mt-5">
    <h1>Блог сайта </h1>
    <biv th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.word}"></h3>
        <p th:text="${el.translation}"></p>
        <a th:href="'/home/blog/' + ${el.id}">Детальнее</a>
    </biv>
</div>
<div id="footer-container"></div>
<script>
    // Загружаем футер
    fetch('blocks/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
</body>

</html>