
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Блог сайта </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>


<div class="container mt-5" mb-5>
    <h1>Добавление статьи </h1>
    <form method="post" th:action="@{/home/blog/add}" th:object="${post}">
        <div>
            <input type="text" name="word" placeholder="Введите слова" ><br>
        </div>
        <div>
            <input type="text" name="translation" placeholder="Введите слова с переводом" class="form-control"><br>
        </div>
        <div>
            <textarea name="full_text" placeholder="Введите текст" class="form-control"></textarea><br>
        </div>
        <button type="submit" class="btn btn-success">Добавить статью</button><br>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>