<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Это страничка с твоими карточками!</title>
</head>
<body>



<div id="header-container"></div>
<script>
    // Загружаем футер
    fetch('/blocks/header.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('header-container').innerHTML = data;
        });
</script>

<h3>Собери свои карточки .</h3>
<div class="container mt-5">
    <h1>Блог сайта </h1>
    <biv th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.word}"></h3>
        <p th:text="${el.translation}"></p>
        <a th:href="'/home/blog/' + ${el.id}">Детальнее</a>
    </biv>
</div>
<div id="footer-container"></div>

<script>
    // Загружаем футер
    fetch('/blocks/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
</body>
</html>