<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Это страничка с твоими карточками!</title>
</head>
<body>
<div id="header-container"></div>
<script>
    // Загружаем футер
    fetch('/templates/blocks/header.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('header-container').innerHTML = data;
        });
</script>

<h3>Собери свои карточки .</h3>
<div id="footer-container"></div>

<script>
    // Загружаем футер
    fetch('/templates/blocks/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
</body>
</html>