<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <header th:insert="blocks/header :: header"></header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href=styleCard.css rel="stylesheet" >



</head>
<body>

<div class="card">
    <div class="container mt-5">
        <h3>Блог сайта </h3>
        <biv th:each="el : ${posts}" class="alert alert-info mt-2">
            <h3 th:text="${el.word}"></h3>
            <p th:text="${el.translation}"></p>
            <a th:href="'/home/blog/' + ${el.id}">Детальнее</a>
        </biv>
    </div>


</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>